.container{
    /*height: 100%;*/
    /*margin-bottom: 200px;*/
}

footer {
    /*!*position: absolute;*!*/

    /*position: fixed;*/
    /*bottom: 0px;*/

    /*left: 0;*/
    /*bottom: 0;*/
    /*width: 100%;*/
    /*overflow: hidden;*/

    display:block;
    width: 100%;
    left:0;
    right:0;
    bottom:0;


}

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.search{
    margin-bottom: 20px;
}