{% extends 'main/base.html' %}

{% block title %}
Сторінка про викладачів
{% endblock %}


{% block content %}
        <p>Тут ви можете прочитати коментарі про викладача</p>
        {% if tasks %}
                {% for el in tasks %}
                        {% if el.check == True %}
                                <div class="alert alert-warning mt-2">
                                    <h3>{{ el.last_name }} {{ el.first_name }} {{ el.surname }}</h3>
                                    <p>{% if el.image %}
                                        <img src="{{ el.image.url }}" alt="media">
                                    {% endif %}</p>
                                    <p>Назва предмету викладання: {{ el.choose_subject }}</p>
                                    <p>Ціна заняття за годину у грн: {{ el.price_per_hour }}</p>
                                    <p>Напрямок викладання: {{ el.specialization }}</p>
                                    <p>Стаж роботи як репетитор(у місяцях): {{ el.experience }}</p>
                                    <p>Додаткова інформація: {{ el.extra_information }}</p>
                                    <div><a href="{% url 'main:comment' pk=el.pk %}">Залишити коментар</a></div>
                                </div>
                        {% endif %}
                {% endfor %}
        {% endif %}




        {% if feedbacks %}
                {% for elem in feedbacks %}
                    {% if elem.check == True %}
                        {{ elem.user }}
                        <p>{{ elem.feedback }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}









{% endblock %}

