{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}
        <h1>Головна сторінка</h1>
        <p>Головна сторінка</p>


    <form action="{% url 'main:order' %}" method="get">
    <label for="price_per_hour">Сортування по ціні у грн</label>

        <select name="price_per_hour">
            <option></option>
            <option>0-100</option>
            <option>100-200</option>
            <option>200-300</option>
            <option>300-400</option>
            <option>400+</option>

        </select><br>

    <label for="price_per_hour">Сортування по стажу роботи як репетитор</label>

        <select name="experience">
            <option></option>
            <option>0-6 місяців</option>
            <option>6-12 місяців</option>
            <option>12-24 місяців</option>
            <option>24-36 місяців</option>
            <option>36+  місяців</option>

        </select><br>

    <input type="submit" value="Пошук" />

    </form>




{% endblock %}

