{% extends 'main/base.html' %}

{% block title %}
Замовити репетитора
{% endblock %}


{% block content %}
        <h1>Замовити репетитора</h1>
        {% if request.user.is_staff %}
            <a href="{% url 'export_products_csv' %}">Завантажити всю інформацію про викладачів</a>
        {% endif %}
        {% if listings %}
                {% for el in listings %}
                        {% if el.check == True %}
                                <div class="alert alert-warning mt-2" style="background-color:#97de6f; border: black solid">
                                    <h3>{{ el.last_name }} {{ el.first_name }} {{ el.surname }}</h3>
                                    <p>{% if el.image %}
                                        <img src="{{ el.image.url }}" alt="media">
                                    {% endif %}</p>
                                    <p>Електронна пошта для звязку: {{ el.email }}</p>
                                    <p>Назва предмету викладання: {{ el.choose_subject }}</p>
                                    <p>Ціна заняття за годину у грн: {{ el.price_per_hour }}</p>
                                    <p>Напрямок викладання: {{ el.specialization }}</p>
                                    <p>Стаж роботи як репетитор(у місяцях): {{ el.experience }}</p>
                                    <p>Додаткова інформація: {{ el.extra_information }}</p>
                                    <div><a href="{% url 'main:about' pk=el.pk %}">Переглянути коментарі</a></div>
                                    {% if user.is_authenticated %}
                                        <div>
                                            <a href="{% url 'main:comment' pk=el.pk %}">Залишити коментар</a>
                                        </div>
                                    {% endif %}
                                </div>
                        {% endif %}
                {% endfor %}
        {% endif %}
{% endblock %}


